<div class="row">
  <h3 align="center">О разработчике: </h3>
  <br>
  <div class="callout">
    <img class="thumbnail" src="data/image.png" align="right">
    <ul>
      <li>
        <h4>ФИО</h4>
        <p>
          Морозов Степан Юрьевич
        </p>  
      </li>
      <li>
        <h4>Дата рождения</h4>
        <p>
          30.08.1997
        </p>  
      </li>
      <li>
        <h4>Место жительства</h4>
        <p>
          г. Ярославль, Россия
        </p>  
      </li>
      <li>
        <h4>Практические навыки:</h4>
        <ul>
          <li>Знание Java на базовом уровне</li>
          <li>Знание Ruby на начальном уровне</li>
          <li>Знание английского языка на уровне Upper-Intermediate</li>
          <li>Знание немецкого языка на уровне B1</li>
        </ul> 
      </li>
       <li>
      <h4>Образование</h4>
        <p>
          На данный момент я являюсь студентом второго курса ЯрГУ факультета ИВТ.
        </p>
      </li>
      <li>
        <h4>Личные качества</h4>
        <p>
          Целеустремленность, ответственность, желание довести проект до конца, честность при общении с клиентом и пунктуальность.
        </p>  
      </li>
      <li>
        <h4>Дата изменения</h4>
        <p>
          22.04.2016
        </p>  
      </li>
    </ul>
  </div>
</div>
