<div class="row">
	<h3 align="center">Добро пожаловать в веб-приложение Степана Морозова!</h3>
	<br>
  <div class="large-8 large-offset-2">
    <div class="callout large">
      <p>
        Сейчас <%= @today %>
      </p>
      <p>
        А ещё сегодня <%= @weather_today %>
      </p>
    </div>
  </div>
</div>