<div class="row">
	<h3 align="center">Welcome to the exchange apartment site!</h3>
	<br>
  <div class="large-12 columns">
    <div class="callout large"> 
      <p>
        There are <%= @amount %> offers for now.
      </p>
    </div>
  </div>
</div>