<div class="row">
  <div class="large-12 columns">
    <div class="callout large">
      <h3 align="center">Результат Вашего запроса:</h3>
      <br>
      <p>
        Число a: <%= @result[:number_a] %>
      </p>
      <p>
        Число b: <%= @result[:number_b] %>
      </p>
      <p>
        Число c: <%= @result[:number_c] %>
      </p>
      	<%= @result[:result]%> 
      </p>
    </div>
  </div>
</div>