<div class="row">
  <div class="large-8 large-offset-2 columns">
      <div class="callout">
        <p>The sender of the ad will be notified of your interest.
           Thanks for using our site!
        </p>
        <a class="button" href="/apartments">
          Return to the apartments list
        </a> 
      </div>
    </div>
</div>