<div class="row">
	<h3 align="center">Welcome to my favourite films list!</h3>
	<br>
  <div class="large-12 columns">
    <div class="callout large">
      <img class="thumbnail" src="data/movies.jpg" align="right">
      <p>
        There are <%= @amount %> films on my list for now.
      </p>
    </div>
  </div>
</div>