<div class="row">
  <h3 align="center">About me: </h3>
  <br>
  <div class="callout">
    <img class="thumbnail" src="data/image.png" align="right">
    <ul>
      <li>
        <h4>Full name:</h4>
        <p>
          Morozov Stepan
        </p>  
      </li>
      <li>
        <h4>Date of Birth:</h4>
        <p>
          30.08.1997
        </p>  
      </li>
      <li>
        <h4>Location:</h4>
        <p>
          Yaroslavl, Russia
        </p>  
      </li>
      <li>
        <h4>Practical skills:</h4>
        <ul>
          <li>Knowledge of Java at a basic level</li>
          <li>Knowledge of Ruby at the beginning level</li>
          <li>Knowledge of English at the level of Upper-Intermediate</li>
          <li>Knowledge of German at B1 level</li>
        </ul> 
      </li>
       <li>
      <h4>Education:</h4>
        <p>
          I am a second year student at the Yaroslavl State University of the IT Faculty.
        </p>
      </li>
      <li>
        <h4>Personal qualities:</h4>
        <p>
          Purposefulness, responsibility, the desire to complete the project to the end, and honesty.
        </p>  
      </li>
      <li>
        <h4>Date of change:</h4>
        <p>
          29.04.2016
        </p>  
      </li>
    </ul>
  </div>
</div>
